<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/cssFiles/create.css">

<body>
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="title">
                    <button class="myButton" type="button">Create Event</button>
                </div>
                <!--<div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>-->
            </div>

            <div class="right">
                <div class="form-container">
                    <form>
                        <input type="text" name="eventTitle" placeholder="Event Title">

                        <input onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date">

                        <input onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date">

                        <input type="number" name="eventLength" placeholder="Event Length">
                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>